<div class="custom_banner">
  <h1 class="text-center">Bienvenue sur Energie Vin</h1>
</div>

<nav class="navbar navbar-light bg-light text-center">
  <div class="container-fluid justify-content-md-center">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :min_price, params[:min_price], class: "form-control m-2",
        placeholder: "min price"
      %>
       <%= text_field_tag :max_price, params[:max_price], class: "form-control m-2",
        placeholder: "max price"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</nav>

<div class="cards">
  <% @products.each do |product| %>
    <div class="card-product m-2">
      <%= link_to product_path(product) do %>
        <%= image_tag product.image_url %>
        <div class="card-product-infos">
          <h2><%= product.name.upcase%></h2>
          <p><%= product.category.capitalize%></p>
          <p><%= product.origin.upcase %></p>
          <strong><p><%= product.price %>€</p></strong>
          <strong><p>Le note des clients: <%= product.rate %>/5</p></strong>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
