<h1>Nos vins</h1>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :min_price, params[:min_price], class: "form-control m-2",
        placeholder: "min price"
      %>
       <%= text_field_tag :max_price, params[:max_price], class: "form-control m-2",
        placeholder: "max price"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</nav>
<%# <%= link_to request.params.merge(category: "red") %>

<div class="cards">
  <% @products.each do |product| %>
    <div class="card-product m-2">
      <%= link_to product_reviews_path(product) do %>
        <%= image_tag product.image_url %>
        <div class="card-product-infos">
          <h2><%= product.name.upcase%></h2>
          <p><%= product.category.capitalize%></p>
          <p><%= product.origin.upcase %></p>
          <p><%= product.description %></p>
          <strong><p><%= product.price %>€</p></strong>
          <strong><p>Le note des clients: <%= product.rate %>/5</p></strong>

          <%# Permet d'afficher la note des experts sur l'index products mais trouver solution pour refactoriser %>
          <%# <% @sum = 0 %>
          <%# <% Review.all.where(product_id: product.id).each do |review| %>
            <%# <% @sum += review.rate %>
          <%# <% end %>
          <%# <%=@sum/Review.all.where(product_id: product.id).count%>

        </div>
      <% end %>
    </div>
  <% end %>
</div>
